#contactanos{
    @include flex-reverse;
}

.escribinos{
    width:50%;
    padding:15px;
    margin:30px 80px;
}

.como-contactar{
    font-family: 'Lacquer', cursive;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    width:100%;    
}

.como-contactar h4{
    font-size: 40px;
    font-weight: 1000;
    color:crimson;
    text-align: center;
}

.como-contactar p{
    font-size: 25px;
    font-weight: 700;
    text-align:center;
    padding:30px;
}

#contacto{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    width: 75%;
    height:90vh;
    margin:80px 50px 10px 50px;
}

/*----------------------------------------------------
                    ICONOS CONTACTO
-----------------------------------------------------*/

.iconos-contacto{
    width:100%;
    display:flex;
    justify-content:space-evenly;}

.Whatsapp{
    width:20%;}

.Telegram{
    width:20%;}

.Email{
    width:20%;}

.Whatsapp:hover{
    @include hover;}

.Telegram:hover{
    @include hover;}

.Email:hover{
    @include hover;}