body{
    background-color: greenyellow;
}

#contenedorMain{
    margin-top:30px; 
    margin-bottom: 50px;
}

#contenedorMain img {
    border-radius: 40px;
}

.contenedorInfo h3 {
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(255, 0, 0);
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
}

.contenedorInfo,.contenedorInfo2  article p{
    margin-top:35px;
    margin-bottom:0px;
}

.contenedorInfo article p,
.contenedorInfo2  p {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    font-weight: 900;
}
