/*---------------------------------------------------
                        MENU
-----------------------------------------------------*/
.navegacion {
    background-color:chocolate;} 
    
    .menuNav {
        width:100%;
        justify-content:space-between;
    }
    
    .menuNav .itemsIzquierda{
        display:flex;
    }
    
    .navegacion .menuNav .nav-link { 
        color:white;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: bold;
    }
    
    .contacto{
        text-decoration: none;
    
    }
        
    /*----------------------------------------------------
                        MENU HAMBURGUESA
    -----------------------------------------------------*/
    .navbar-toggler { /*Esto modifica al botón*/
        border:none;
        margin:0px;
        padding:0px;
    }
    
    .navbar-toggler:focus { 
        box-shadow: none;
    }
    
    .navbar-toggler { /*Esto modifica al botón*/
        width: 5%;
        padding: 0px;
    }
    
    .icono img {
        width: 140%;
        /* border: 3px dotted white; */
        padding: 5px;
    }